@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.post__tile {
  background: linear-gradient(90deg, #ff8a00 0%, #bd00ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.post__text {
  color: #1a1919;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.5px;
}
